<div class="grid">
    <.live_component
        class="bg-blue-600 text-white p-4 rounded shadow-sm text-xs mb-4 font-germania"
        module={OktoberfestCountdownComponent} id="countdown" />
    <%!-- <.live_component
        class="bg-pink-500 text-white p-4 rounded shadow-sm text-xs mb-4 cursor-pointer"
        module={DadJokeComponent} id="dad_jokes" /> --%>
</div>